<form method="post" action="{{ path('admin_post_delete', {'id': post.id}) }}" onsubmit="return confirm('Etes vous sur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
    <button class="btn btn-danger mt-1">Supprimer</button>
</form>