{% extends 'base.html.twig' %}

{% block title %}Ajouter un point d'interet{% endblock %}

{% block body %}
    <div class="d-flex justify-content-evenly">
        <h1>Ajouter un point d'interet</h1>
    </div>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}

    <div class="container px-4">

        {{ include('back/post/_form.html.twig') }}
        
    </div>

{% endblock %}

