.navbar {
    background-color: #2f2cc2;
}

.nav-pics {
    width: 40px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 15px;
}

.tribu_logo_nav {
    margin: 5px 30px 5px 10px;
    width: 50px;
    height: auto;
}

.custom {
    background-color: #e404a4;
    color: white;
}


