@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');
body {
    font-family: 'Anonymous Pro', monospace;
}
.header {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    
}

#connexion {
    margin: 20px 0;
    background-color: #b424b7;
    border: 0;
}

.form-group{
    margin-top: 20px;
}

.text-form {
    margin-bottom: 10px;
}

.submit_button {
    text-align: center;
}

.title_backOffice {
    font-size: 60px;
    text-align: center;
    background-color: #971caf;
    color: white;
 
}

.tribu_logo {
    width: 300px;
    height: auto;
}