.navbar {
    background-color: #04839c;
}

.nav-pics {
    width: 40px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 15px;
}

.nav-item {
    padding-top: 15px;
}

.tribu_logo_nav {
    margin: 0px 30px 0px 10px;
    width: 200px;
    height: auto;
}

.tribu_logo {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.custom {
    background-color: #e404a4;
    color: white;
}

.tribu_punchline {
    width: 50vw;
    height: auto;
}

.all-button {
    display: flex;
}

.all-button-update {
    display: flex;
}

.button-add {
    background-color: #7e049c;
    padding: 3px 50px;
    border-radius: 3px;
    text-decoration: none;
    color: white;
}

.button-add:hover {
    color: white;
    background-color: #7e049c97;
}

.button-update {
    background-color: #fa6912;
    padding: 8px 30px;
    border-radius: 3px;
    margin: 0 5px;
    text-decoration: none;
    color: white;
}

.button-update:hover {
    color: white;
    background-color: #fa6b1297;
}

.button-update-small {
    background-color: #fa6912;
    padding: 6px 9px;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    margin: 5px;
}

.button-update-small:hover {
    color: white;
    background-color: #fa6b1297;
}

.button-read-small {
    background-color: #f8099a;
    padding: 6px 9px;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    margin: 5px;
}

.button-read-small:hover {
    color: white;
    background-color: #f809988c;
}

.button-back {
    background-color: #fbd404;
    padding: 9px 40px;
    border-radius: 3px;
    margin: 0 5px;
    text-decoration: none;
    color: white;
}

.button-back:hover {
    color: white;
    background-color: #fbd60497;
}

.button-delete {
    background-color: #45048f;
    padding: 10px 20px;
    border-radius: 3px;
    margin: 0 5px;
    text-decoration: none;
    color: white;
    border: none;
}

.button-delete:hover {
    color: white;
    background-color: #45048f97;
}

.button-save {
    background-color:  #fc266c;
    padding: 6px 20px;
    border-radius: 3px;
    margin: 0 5px;
    text-decoration: none;
    color: white;
    border: none;
}

.button-save:hover {
    color: white;
    background-color:  #fc266d8a;
}


.btn-primary {
    background-color:#04839c;
    border: 0;
}

/* THEME-DARK */

.theme-dark{
    color: orange;
    font-weight: 400;
    background-color: black;
}
