{% extends 'back/user/_base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
<div class="container">
    <h1>Nouvel utilisateur</h1>

    {{ include('back/user/_form.html.twig') }}
</div>
{% endblock %}
