{% extends 'back/city/_base.html.twig' %}

{% block title %}Modifier une ville{% endblock %}

{% block body %}
<div class="container">
    <h1>Modifier une ville</h1>

    {{ include('back/city/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    {{ include('back/city/_delete_form.html.twig') }}
</div>
{% endblock %}
